body {
    background-color: #0f233c;
}
.center {
    width: 40%;
    margin-left: 30%;
}
.mainColor {
    background-color: #bcbcbc;
}
@media only screen and (max-width: 1300px) {
    .center {
        width: 50%;
        margin-left: 25%;
    }
}
@media only screen and (max-width: 1000px) {
    .center {
        width: 60%;
        margin-left: 20%;
    }
}
@media only screen and (max-width: 800px) {
    .center {
        width: 70%;
        margin-left: 15%;
    }
}
@media only screen and (max-width: 600px) {
    .center {
        width: 90%;
        margin-left: 5%;
    }

}
table{
    #outline: 2px solid black;
    box-shadow: 2px 0 0 -2px #000;
    box-shadow: 5px 0 0 -5px #000;
}
tr {
    text-align: center;
    box-shadow: 0 0 2px 0 #000;
    border-right: 0px;
    height: 40px;
}
.contentRow:hover {
    background-color: lightgoldenrodyellow;
}
h1 {
    text-align: center;
    text-shadow: 2px 2px #890b0c;
    color: lightgray;
}
.rank {
    width: 20px;
}
.datetime {
    width: 80px;
}
.hiddenAdmin {
    display: none;
}
.removebutton {
    color: red;
}
.top {
    display: inline;
}
#back {
    float: left;
    left: 0;
}
#back:hover {
    color: blue;
    text-decoration: underline;
}
#showLoginButton {
    float:right;
}
#showLoginButton:hover {
    color: blue;
    text-decoration: underline;
}
.loginForm {

}
.loginInput {
    width: 37.23%;
}
#loginButton {
    width: 20%;
}
#loginFormWindow {
    margin: auto;
    width: 30%;
    box-shadow: 2px 0 0 -2px #000;
    box-shadow: 5px 0 0 -5px #000;
    box-shadow: 0 0 2px 0 #000;
    border-right: 0px;
}